// Global styles: @Jakub Matusiak 2018
// MAIN
@background-main: #252525;


// NAVBAR
@font-size-title: 24px;
@font-size-nav: 16px;
@background-nav-link: #606060;


// PANEL
@panel-background: #505050;


// FOOTER
@background-footer: #222;
@border-footer: #080808;


// FONTS
@font-color-light: #F0F0F0;
@font-color-medium: #9D9D9D;
@font-color-dark: #202020;
